.AboutmeLAYOUTrow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 100%;
}

.About_meImg-Container {
  flex: 0 0 50%;
  max-width: 20%;
  min-width: 30%;
  height: 800px; /* Adjust as needed */
}

.aboutmeImg {
  max-width: 100%;
  max-height: 100%;
  height: auto; /* Allow height to adjust automatically */
  padding: 0 1em; /* Add padding for better spacing */
  box-sizing: border-box; 
}

.About_meTEXT_CONTAINER {
  flex: 0 0 50%;
  max-width: 40%;
  min-width: 70%;
  min-height: 564px;
  text-align: left;
}

.About_meTEXT_CONTAINER_Layout {
  padding: 20px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  position: relative;
  flex: 1;
  max-width: 150%;
  transition-duration: inherit;
}

.About_meTEXT_1 {
  margin-bottom: 0;
  margin-top: 0;
  margin-left: 0;
  font-size: 3rem;
  line-height: 1.1;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: 700;

  font-family: Montserrat, sans-serif;
}

/* Media query for tablets and small screens */
@media (max-width: 768px) {
  .About_meTEXT_1 {
    font-size: 1.2rem; /* Adjust font size for tablets */
  }

  .About_meImg-Container,
  .About_meTEXT_CONTAINER {
    flex: 1 1 100%; /* Stack elements vertically on small screens */
    max-width: 100%;
    min-width: 100%;
  }
}

/* Media query for mobile and extra small screens */
@media (max-width: 480px) {
  .About_meImg-Container {
    flex: 1 1 100%; /* Ensure image takes full width */
    max-width: 100%;
    min-width: 100%;
    height: 500px; /* Adjust height for smaller screens */
  }

 
  .About_meTEXT_1 {
    font-size: 1rem; /* Adjust font size for mobile screens */
    margin: 0.5em 0; /* Reduce margin for closer spacing */
  }
}