
/* Container */
.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

/* Section Styles */
.Showreel-section {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 250px;
}

.Showreel-title {
  margin-bottom: 50px;
}

.D2animation-title {
  text-align: center;
  margin: 20px 0;
  font-family: 'Dela Gothic One', sans-serif; /* Apply Dela Gothic One font */
}

.D2animation-header {
  font-size: 10rem;
  color: #003cff;
}


.col-md-6 h1 {
  font-family: 'Trispace', sans-serif; /* Apply Trispace font */
  font-size: 2.5rem; /* Adjust font size */
  font-weight: 700; /* Make the text bold */
  color: #ffffff; /* Set text color */
  line-height: 1.2; /* Adjust line height for better readability */
}

.D2-section {
  margin: 0 50px; /* Adjusted for symmetry */
}

.lazercattext {
  font-size: 2rem;
  font-family: 'Trispace', sans-serif; /* Apply Trispace font */
}

.list-group-item {
  font-family: 'Trispace', sans-serif; /* Apply Trispace font */
  font-size: 1rem; /* Adjust font size */
  color: #333; /* Set text color */
  line-height: 1.5; /* Adjust line height for better readability */
}

/* Optionally, style the <strong> tags within the list items */
.list-group-item strong {
  font-weight: 700; /* Make the text bold */
  color: #000; /* Adjust color if needed */
}

/* Video and Info */
.row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 100px;
}

.row .col-md-5,
.row .col-md-6 {
  padding: 10px;
}

/* Make sure video is responsive */
.embed-responsive {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

.embed-responsive video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* List Group */
.list-group {
  background-color: #333;
  border: none;
  border-radius: 4px;
  margin-top: 10px;
}

.list-group-item {
  background-color: #444;
  border: none;
  color: #f5f5f5;
}

.list-group-item strong {
  color: #4772ff;
}

/* Footer */
footer {
  text-align: center;
  padding: 20px 0;
  background-color: #333;
  color: #f5f5f5;
  border-top: 2px solid #ff6347;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .D2animation-header {
    margin-top: 1rem;
    font-size: 2.3rem; /* Adjust font size for smaller screens */
  }

  .D2-section {
    margin: 0 20px; /* Reduce margin on smaller screens */
  }

  .row {
    flex-direction: column; /* Stack columns vertically on smaller screens */
    margin-bottom: 100px;
  }

  .row .col-md-5,
  .row .col-md-6 {
    width: 100%; /* Make columns full width on smaller screens */
    padding: 5px; /* Reduce padding for better spacing */
  }

  .lazercattext {
    font-size: 1.5rem; /* Adjust font size for smaller screens */
  }

  .container {
    width: 100%; /* Make container full width on smaller screens */
    padding: 0 10px; /* Add some padding to container */
  }
}
