
.body{
  background-color: #1c090c;

}


.istillhaveyou-section {
  /* Center the image horizontally */
  text-align: center;
}





.istillhaveyou-bg{
  margin: 0; /* Remove default margins */
  padding: 0; /* Remove default padding */
  height: 100vh; /* Set height to 100% viewport height */

  background-image: url("POSTER4.png"); /* Specify image URL */
  background-size: cover;
  background-position: center center; /* Center the image horizontally and vertically */
  background-repeat: no-repeat; /* Prevent image repetition */

}

@media (max-width: 768px) {
  .istillhaveyou-bg {
    background-size: contain; /* Or background-size: auto; */
    object-fit: contain; 
  }
}

.text-section{
  text-align: center;  /* Center the text horizontally */
  color: white;        /* White text for contrast with dark background */
  padding: 200px;       /* Add some padding for readability */
  font-size: 2.5em; 
}

.credits{
  margin-top: 50px;
}

.Download-report-link {
  /* Style properties for the link */
  color: blue; /* Example styling */
  margin-top: 200px;
  text-decoration: none; /* Remove underline */
  padding: 10px 20px; /* Example styling */
  border-radius: 5px; /* Example styling */
}